# Desktop App Dependencies
PySide6

# Web App Dependencies
streamlit
pandas
openpyxl
PyMuPDF
requests
beautifulsoup4
sqlalchemy

# Packaging & Build Dependencies
pyinstaller==6.19.0
python-docx==1.2.0
lxml==6.0.4
